body, p, div, section, p, div {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: normal;
}

#readMore {
  display: none;
}

#dos {
  color: white;
}

ul {
  list-style: none;
}

#facultyExpand {
  list-style: none;
  width: 100%;
  text-align: center;
  position: static;
  color: #82c0c0;
  font-size: 6em;
  height: auto;
  background-position: top;
  font-weight: 700;
  overflow: scroll;
}


#fb>img{
  width: 10%;
}

.title {
  font-size: 1.7em;
}

.nugget {
  float: left;
  width: 16.6667%;
  opacity: .6;
  z-index: -99999;
}

.nugget:hover {
  opacity: 1;
  cursor: pointer;
}

#oneTxt {
  display: none;
  height: 20em;
  font-size: .2em;
  padding: 1.5em;
  background-color: white;
}

#twoTxt {
  display: none;
  height: 20em;
  font-size: .2em;
  padding: 1.5em;
  background-color: white;
}

#threeTxt {
  display: none;
  height: 20em;
  font-size: .2em;
  padding: 1.5em;
  background-color: white;
}

#fourTxt {
  display: none;
  height: 20em;
  font-size: .2em;
  padding: 1.5em;
  background-color: white;
}

#fiveTxt {
  display: none;
  height: 20em;
  font-size: .2em;
  padding: 1.5em;
  background-color: white;
}

#sixTxt {
  display: none;
  height: 20em;
  font-size: .2em;
  padding: 1.5em;
  background-color: white;
}

#email {
  float: right;
  line-height: 1.5em;
  padding-right: 1em;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  height: 100%;
}

#readMoreButton {
  background-color: white;
  color: #82c0c0;
  height: 4em;
  width: 30%;
  border: none;
  border-radius: 4em;
  ;
  margin-top: 2e;
  font-size: 1em;
}

#readMoreButton:hover {
  background-color: rgb(185, 189, 186);
  cursor: pointer;
}

body {
  background-color: white;
  height: 100%;
}

#top-banner {
  width: 100%;
  background-color: white;
}

#banner {
  width: 100%;
}

#main {
  color: white;
  background-color: #d6aa7d;
  ;
	font-weight: 100;
  width: 100%;
  font-size: 4em;
  height: 2.8em;
}

#more {
  display: none;
  height: 5em;
  width: 100%;
  text-align: center;
  background-color: #82c0c0;
  vertical-align: middle;
}

#aboutContain {
  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.others:hover {
  background-color: white;
  color: #d6aa7d;
}

.others {
  width: 25%;
  float: left;
  height: 100%;
  font-size: 1.5em;
  color: white;
  font-weight: 100%;
  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#mission {
  text-align: center;
  padding: 1.5em;
  ;
	font-weight: 100;
  background-color: #82c0c0;
  color: white;
  font-size: 1em;
}

#apply {
  background-color: #white;
  color: #3f3f3f;
  ;
	font-weight: 100;
  font-size: 4em;
  height: 4em;
}

#applyButton {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: white;
}

#foot {
  background-color: #3f3f3f;
  color: white;
  font-size: 1.6em;
  width: 100%;
  float: left;
  height: 8em;
  font-weight: 100;
  display: inline-block;
  padding-top: 0em;
}

#jumbo {
  display: none;
}

a {
  text-decoration: none;
}

@media (min-width:750px) {
  #top-banner {
    width: 30%;
    float: left;
    height: 13em;
    display: flex;
    align-items: center;
  }

  #jumbo {
    display: inline-block;
    width: 100%;
  }

  #main {
    display: none;
  }

  #more {
    display: inline-block;
    background-color: white;
    color: #82c0c0;
    width: 70%;
    float: left;
    height: 13em;
    margin: 0 auto;
  }

  .others {
    font-size: 2em;
    color: #82c0c0;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .others:hover {
    background-color: #82c0c0;
    color: white;
  }

  #apply {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 7em;
    margin: 0;
    padding: 0;
    display: flex;
    content-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }

  #applyButton {
    height: 2em;
    border-color: #3f3f3f;
    border: solid;
    box-shadow: 2,2,2,5;
    cursor: pointer;
    width: 3em;
    color: rgb(47,47,47);
  }

  #applyButton:hover {
    background-color: rgba(47, 47, 47, 0.5);
  }

  #uno {
    height: 100%;
    width: 40%;
    float: left;
    line-height: 1.5em;
    text-align: left;
    display: flex;
    content-align: center;
    vertical-align: middle;
    padding-left: 1em;
    align-items: center;
  }

  #dos {
    height: 100%;
    float: right;
    line-height: 1.5em;
    display: flex;
    text-align: right;
    align-items: center;
    content-align: right;
    padding-right: 1em;
  }

  #mission {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2em;
  }

  #foot {
    padding: 0;
    margin: 0;
  }
  a{
    color: white;
  }
}
