body, p, div, section, p, a, div{
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: none;
}
body {
	background-color: white;
	height: 100%;
	line-height: auto;
}
#top-banner {
	width: 100%;
	background-color: white;
}
#banner {
	width: 100%;
}
#main{
	color: white;
	background-color: #d6aa7d; 
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	width: 100%;
	font-size: 4em;
	height: 2.8em;
}
#more{
	display: none;
	height: 5em;
	width: 100%;
	text-align: center;
	background-color: #82c0c0;
	vertical-align: middle;
}
#aboutContain{
	vertical-align: middle;
	text-align: center;
	padding-top: 1em;
}
.others:hover{
	background-color: white;
	color: #d6aa7d;
}
.others {
	width: 25%;
	float: left;
	height: 100%;
	display: inline-block;
	font-size: 1.5em;
	color: white;
	font-family: "helvettica" , sans-serif;
	font-weight: 100%;
}
#mission{
	text-align: center;
	padding: 1.5em;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	background-color: #82c0c0;
	color: white;
	line-height: 1.5em;
	font-size: 2em;
}
#apply{
	border: solid;
	border-color: #82c0c0;
	background-color: #d6aa7d;
	border-width: .1em;
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	text-align: center;
	font-size: 6em;
	padding: 1em;
	margin: 1em;
}
#apply:hover{
	background-color: rgba(214,170,125,.7);
}
#foot{
	background-color: #3f3f3f;
	color: white;
	font-size: 1.6em;
	width: 100%;
	float: left;
	height: 8em;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	display: inline-block;
	padding-top: 0em;
}
#jumbo{
	display: none;
}

@media (min-width:750px){
	#top-banner{
		width: 30%;
		float: left;
		height: 13em;
		display: flex;
    	align-items: center;

	}
	#jumbo{
		display: inline-block;
		width: 100%;
	}
	#main{
		display: none;
	}
	#more{
		display: inline-block;
		background-color: white;
		color: #82c0c0;
		width: 70%;
		float: left;
		height: 13em;
		margin: 0 auto;

	}
	.others{
		font-size: 2em;
		color: #82c0c0;
		width: 25%;
		display: flex;
    	align-items: center;
    	justify-content:center;

	}
	.others:hover{
		background-color: #82c0c0;
		color: white;
	}
	#apply{
		background-image: url(../images/pillars.jpg);
		display: flex;
		justify-content: center;
		width: 100%;
		background-size: cover;
		height: 4em;
		background-repeat:no-repeat;
		color: white;
		font-size: 7em;
		padding-top: .1em;
		border: none;
		margin: 0;
		padding: 0;
		}
	#applyButton{
		display: flex;
		align-items: center;
		justify-content: center;
		border-color: #3f3f3f;
		border: solid;
		margin-top:1em;
		margin-bottom:1em;
		padding-left:.5em;
		padding-right:.5em;
		color:#2f2f2f;
	}
	#applyButton:hover{
		background-color: rgba(47, 47, 47, 0.5);
	}
	#uno{
	width: 40%;
	float: left;
	padding-top: 1em;
	padding-bottom: .5em;
	padding-left: 1em;
	line-height: 1.2em;
	text-align: left;
	}
	#dos{
	width: 40%;
	float: right;
	padding-top: 1em;
	padding-bottom: .5em;
	padding-right: 1em;
	line-height: 1.2em;
	text-align: right;
	}

}

