body, p, div, section, p, a, div {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: white;
  height: 100%;
  line-height: auto;
  font-family: 'Noto Sans',sans-serif;
}

#top-banner {
  width: 100%;
  background-color: white;
}

#email {
  float: right;
  line-height: 1.5em;
  padding-right: 1em;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  height: 100%;
  color: white;
}

#banner {
  width: 100%;
}
#fb>img{
  width: 7%;
}

#main {
  color: white;
  background-color: #d6aa7d;
  font-weight: 100;
  width: 100%;
  font-size: 4em;
  height: 2.8em;
}

#more {
  display: none;
  height: 5em;
  width: 100%;
  text-align: center;
  background-color: #82c0c0;
  vertical-align: middle;
}

#costContain {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100%;
}

.others:hover {
  background-color: white;
  color: #d6aa7d;
}

.others {
  width: 25%;
  float: left;
  height: 100%;
  display: inline-block;
  font-size: 1.5em;
  color: white;
  font-weight: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#mission {
  text-align: center;
  padding: 1.5em;
  font-weight: 100;
  background-color: #82c0c0;
  color: white;
  line-height: 1.5em;
  font-size: 2em;
}

#foot {
  background-color: #3f3f3f;
  color: white;
  font-size: 1.6em;
  width: 100%;
  float: left;
  height: 8em;
  font-weight: 100;
  display: inline-block;
  padding-top: 0em;
}

#jumbo {
  display: none;
}

#apply {
  display: inline-block;
  background-color: #f6f6f6;
  color: #3f3f3f;
  font-weight: 100;
  font-size: 4em;
  height: 4em;
  width: 100%
}

#applyButton {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#applyButton:hover {
  background-color: rgba(47, 47, 47, 0.5);
}

table {
  width: 100%;
  font-weight: 100;
  font-size: 1em;
  line-height: 2em;
  padding: 2em;
}

#costTable {
  background-color: #d6aa7d;
}

.popover-content {
  color: black;
}

th {
  color: #3f3f3f;
  padding-left: 2em;
}

tr:hover {
  background-color: #82c0c0;
  color: white;
  width: 100%;
}

a {
  color: black;
}

.nav-tabs > li > a {
  color: white;
  display: flex;
  content-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding,margin: 0;
  height: 3em;
  align-self: center;
}

.nav-tabs>li {
  width: 100% !important;
}

@media (min-width:750px) {
  #top-banner {
    width: 30%;
    float: left;
    height: 13em;
    display: flex;
    align-items: center;
  }

  #jumbo {
    display: inline-block;
    width: 100%;
  }

  #main {
    display: none;
  }

  #more {
    display: inline-block;
    background-color: white;
    color: #82c0c0;
    width: 70%;
    float: left;
    height: 13em;
    margin: 0 auto;
  }

  .others {
    font-size: 2em;
    color: #82c0c0;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .others:hover {
    background-color: #82c0c0;
    color: white;
  }

  #uno {
    height: 100%;
    width: 40%;
    float: left;
    line-height: 1.5em;
    text-align: left;
    display: flex;
    content-align: center;
    vertical-align: middle;
    align-items: center;
    padding-left: 1em;
  }

  #dos {
    height: 50%;
    float: right;
    line-height: 1.5em;
    display: flex;
    text-align: right;
    align-items: center;
    padding-right: 1em;
    max-width: 50%;
  }

  table {
    width: 100%;
    font-weight: 100;
    font-size: 1.4em;
    line-height: 2em;
    text-align: center;
  }

  th {
    color: #3f3f3f;
    text-align: center !important;
  }

  tr:hover {
    background-color: #82c0c0;
    color: white;
  }

  #dos>a {
    color: blue;
  }

  a {
    color: red;
    cursor: pointer;
  }

  #apply {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 7em;
    margin: 0;
    padding: 0;
    display: flex;
    content-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }

  #applyButton {
    height: 2em;
    border-color: #3f3f3f;
    border: solid;
    color: rgb(47, 47, 47);
    cursor: pointer;
    width: 3em;
  }

  .nav-tabs>li {
    width: 50% !important;
    float: left !important;
    height: auto;
  }
}
