#self{
	border: solid;
	background-color: #82c0c0;
	border-radius: .1em;
	color: white;
}
#fountain {
	width: 100%;
}
#main{
	background-color: #82c0c0;
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	width: 100%;
	font-size: 4em;
}

div.others {
	float: left;
	height: auto;
	display: inline-block;
	font-size: 1.5em;
	color: white;
	font-family: helvettica, sans-serif;
	font-weight: 100%;
	padding-top: 0em;
}


#more{
	/* [disabled]height: 5.4em; */
	text-align: center;
	background-color: #d6aa7d;
	vertical-align: middle;
	float: right;
	display: none;
	width: 100%;
}
#banner {
	width: 100%;
}
<<<<<<< HEAD
#foot{
	background-color: #3f3f3f;
	color: white;
	font-size: 1.9em;
	width: 100%;
	float: left;
	height: 8em;
	padding: .6em;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	display: inline-block;
}
#info {
	padding: 2em;
	background-color: #82c0c0;
	text-align: center;
}
.footer {
	padding: 1em;
	width: 100%;
	background-color: #3f3f3f;
}
#foot {
	padding-right: 0em;
	padding-left: 0em;
	padding-bottom: 1em;
	padding-top: 1px;
}
#foot #uno {
	padding: 1em;
}
#foot #dos {
	padding: 1em;
}
#info {
	display: none;
}
#doit{
	display: none;
}

@media (min-width:750px){
#banner {
	width: 29%;
	display: inline-block;
	float: left;
}
#main {
	display: none;
}
#more {
	background-color: #FFFFFF;
	width: 71%;
	display: inline-block;
	float: left;
	margin-top: 1.6em;
}
div.others {
	color: #82c0c0;





















	font-size: 2
.
.;
	font-size: 1.8em;
	width: 24%;
	margin-top: 0em;
}
div.others:hover {
	border-style: solid;
	border-radius: .1em;
	color: white;
	background-color: #82c0c0;
}
.jumbotron {
	width: 100%;
}
.jumbotron p {
	padding: 1em;
	font-size: 1em;
}
.carousel {
	width: 100%;
}
#columnSite2 {
	width: 31%;
	padding: .5em;
	float: left;
	opacity: .6;
}
#foot {
	float: left;
}
#columnSite3 {
	width: 31%;
	padding: .5em;
	float: left;
	opacity: 0.6;
}
.jumbotron h1 {
	font-size: 2em;
}
#columnSite1 {
	width: 31%;
	padding: .5em;
	float: left;
	opacity: 0.6;
}
#columnSite1:hover {
	opacity: 1;
}
#columnSite3:hover {
	opacity: 1;
}
#columnSite2:hover {
	opacity: 1;
}
#info {
	display: inline-block;
}
#doit{
	display: inline-block;
	justify-content: center;
	background-image: url(../images/sicily.jpg);
	width: 100%;
	background-size: cover;
	float: left;
	height: 2em;
	background-repeat: no-repeat;
	color: white;
	font-size: 7em;
	padding-top: 0em;
	text-align: center;
}
#apply{
	border: solid;
	height: 75%;
	margin-top: .2em;
	width: 50%;
	display: inline-block;
	color: white;
}
#apply:hover {
	background-color: rgb(230,230,230);
	background-color: rgba(230,230,230,.5);
}


}
