body, p, div, section, p, a{
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: none;
}

#banner{
	width: 100%;
}
#main{
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	width: 100%;
	background-image: url(../images/group.jpg);
	background-position: top;
	background-repeat:no-repeat;
	font-size: 6em;
	height: 3.2em;
}
#academicsContain{
	vertical-align: middle;
	text-align: center;
	padding-top: 1em;

}

#info{
	text-align: center;
	padding: 1.5em;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}

#courses{
	width: 100%;
	background-image: url(../images/dock.jpg);
	background-position: top;
	background-repeat:no-repeat;
	background-size:100%;
	color: white;
	font-size: 6.5em;
}

#scholarships{
	width: 100%;
	background-image: url(../images/sicilia.jpg);
	background-position: top;
	background-repeat:no-repeat;
	background-size:100%;
	color: white;
}
p{
	text-decoration: none;
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;

}

#foot{
	background-color: #3f3f3f;
	color: white;
	font-size: .8em;
	width: 100%;
	float:left;
	height: 6em;
	padding: .6em;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
#c{
	background-image: url(../images/sicilia.jpg);
	background-position: top;
	background-repeat:no-repeat;
	text-align: center;
	color: white;
	font-size: 6em;
	height: 3.2em;

}
#coursebar>p{
	text-align: center;
	font-size: 1.7em;
	padding: .5em;

}
#coursebar{
	background-color: #d6aa7d;
	height: auto;
}
#s{
	background-image: url(../images/dock.jpg);
	background-position: top;
	background-repeat:no-repeat;
	color: white;
	text-align: center;
	font-size: 4.2em;
	height: 4.3em;
}
#scholarshipbar>p{
	color: black;
	text-align: center;
	padding: 1.5em;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	font-size: 1.3em;
}
a{
	color: white;
}
