body, div, section, p, head, a{
	margin: 0;
	padding: 0;

}
#banner{
	padding: 3em;
	width: 100%;
	display: none;
}
#mobilebanner{
	width: 100%;
	background-color: white;
}
body{
font-family: 'Noto Sans', sans-serif;
background-color: #82c0c0;
}
#info-bar{
	color: white;
	background-color: #82c0c0;
	text-align: center;
	padding: 1.8em;
	line-height: 1.6em;
	font-size: 1.1em;
}
#info-text{
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
#info-bar2{
	display: none;
}
#about{
background-image: url(../images/palpatine.jpg);
background-position: top;
background-repeat:no-repeat;
background-size:100%;
}
#academics{
background-image:url(../images/squad.jpg);
background-position: center;
background-repeat:no-repeat;
background-size:100%;
}
#sites{
background-image: url(../images/terracine3.jpg);
background-position: bottom;
background-repeat:no-repeat;
background-size:100%;
}
#costs{
background-image: url(../images/walkway.jpg);
background-position: bottom;
background-repeat:no-repeat;
background-size:100%;
}
/*p:hover {
	font-size: 110%;
	-webkit-transition: ease-in-out;
}*/
.o-bar{
	color: white;
	font-size: 4em;
	height: 2.8em;
}
#about>a{
	float: right;
	padding-right: .3em;
	padding-top: .8em;
	text-decoration: none;
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
#academics>a{
	float: left;
	padding-left: .3em;
	padding-top: .8em;
	text-decoration: none;
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
#sites>a{
	float: right;
	padding-right: .3em;
	padding-top: .8em;
	text-decoration: none;
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
#costs>a{
	float: left;
	padding-left: .3em;
	padding-top: .8em;
	text-decoration: none;
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
#foot{
	background-color: #3f3f3f;
	color: white;
	font-size: .8em;
	width: 100%;
	float:left;
	position: fixed;
	bottom: 0;
	z-index: 999999;
	height: 6em;
	/*padding: .6em;*/
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
.footer{	
	position: relative;
	margin: 0 auto;
	width: 100%;
}
#uno{
	width: 40%;
	float: left;
	padding-top: 1em;
	padding-bottom: .5em;
	padding-left: 1em;
	line-height: 1.2em;
	text-align: left;

}
#dos{
	width: 40%;
	float: right;
	padding-top: 1em;
	padding-bottom: .5em;
	padding-right: 1em;
	line-height: 1.2em;
	text-align: right;
}
#container{
	margin-bottom: 4.5em;
}
#top-banner{
	background-color: white;
}
#doit{
	display: none;
}


@media (min-width:750px){

body{
	background-color: #3f3f3f;
}

#carousel1 {
	display: none;

}
#info-bar{
	display: none;
}
#info-bar2{
	display: block;
	background-color: white;
	color:#3f3f3f;
	float: left;
	text-align: center;
	font-size: 1.4em;
	padding-left: 6em;
	padding-right: 6em;
	padding-top: 1em;
	padding-bottom: 1em;
}
#info-text2{
	text-align: center;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	padding-top: 2em;
	padding-bottom: 2em;
}
#menu {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 2.5em;
	padding: 0;
	margin: 0;
	background-color: #82c0c0;
}
.o-bar{
	/*width: 10%;*/
	/*float: left;*/
	font-size: 1.5em;
	/*background-color: #82c0c0;*/
	height: auto;
	flex-basis: 15%;
	text-align: center;
	font-family: "Helvetica light", sans-serif;
	font-weight: 100;
}


#about{
	background-image: none;
	color: white;
	height: 1.7em;
	/*margin: auto;
	border-style: hidden;
	border-color: white;
	padding-top: 0;
	border-radius: .01em;*/
}
#academics{
	background-image: none;
	color: white;
	height: 1.7em;
	/*margin: auto;
	border-style: hidden;
	border-color: white;
	padding-top: 0;
	border-radius: .01em;*/
}
#sites{
	background-image: none;
	color: white;
	height: 1.7em;
	/*margin: auto;
	border-style: hidden;
	border-color: white;
	padding-top: 0;
	border-radius: .01em;*/
}
#costs{
	background-image: none;
	color: white;
	height: 1.7em;
	/*margin: auto;
	padding-right: none;
	border-style: hidden;
	border-color: white;
	padding-top: none;
	border-radius: .01em;*/
}
#about>a {
	padding: 0;
	float: none;
	padding-bottom:.6em;
	padding-left:.9em;
	padding-right:.9em;
}

#about>a:hover{
	background-color:white;
	color: #82c0c0;
	border-radius: .09em;
}
#academics>a {
	padding: 0;
	float: none;
	padding-bottom:.6em;
	padding-left:.9em;
	padding-right:.9em;
}
#academics>a:hover{
	background-color:white;
	color: #82c0c0;
	border-radius: .09em;
}
#sites>a {
	padding: 0;
	float: none;
	padding-bottom:.6em;
	padding-left:.9em;
	padding-right:.9em;
}
#sites>a:hover{
	background-color:white;
	color: #82c0c0;
	border-radius: .09em;
}
#costs>a {
	padding: 0;
	float: none;
	padding-bottom:.6em;
	padding-left:.9em;
	padding-right:.9em;
}
#costs>a:hover{
	background-color:white;
	color: #82c0c0;
	border-radius: .09em;
}
/*#applya{
	text-align: center;
	margin: 0;
	float: none;
	padding: 0;
}
#academicsa{
	text-align: center;
	margin: auto;
	float: none;
	padding: 0;
}
#sitesa{
	text-align: center;
	margin: auto;
	float: none;
	padding: 0;
}
#costsa{
	text-align: center;
	margin: auto;
	float: none;
	padding: 0;
}*/
#container{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	/*height: 30em;*/
	/*background-color: #82c0c0;*/
}
#top-banner{
	background-color: none;
	background-image: url(../images/DSC_0282.jpg);
	margin: auto;
	width: 100%;
	background-repeat:no-repeat;
	background-size: cover;
	float: left;
	height: 40em;
	display: flex;
	justify-content: center;
}
#banner{
	display: flex;
	width: 65%;
	background-color: none;
	justify-content: center;
	align-self: center;
	/*padding-top: 25em;
	padding-bottom: 5em;
	float: left;
	margin-left: 17em;*/

}
/*p:hover{
	font-size: 100%;
}*/
/*#sites:hover{
	background-color: white;
	color: #82c0c0;
	border-style: solid;
	border-color: white;
}
#costs:hover{
	background-color: white;
	color: #82c0c0;
	border-style: solid;
	border-color: white;
}
#academics:hover{
	background-color: white;
	color: #82c0c0;
	border-style: solid;
	border-color: white;
}
#about:hover{
	background-color: white;
	color: #82c0c0;
	border-style: solid;
	border-color: white;
}*/
#foot{
	background-color: #3f3f3f;
	color: white;
	font-size: .8em;
	width: 100%;
	float: left;
	position: relative;
	/*bottom:3em; */
	/* [disabled]z-index: 280; */
	/*height: 5em;*/
	padding-left: 1em;
	padding-right: 1em;
}
.footer{	
	position: relative;
	margin-top: 0;
	width: 100%;
}

#uno{
	width: 100%;
	padding-bottom: 0;
	padding-left: 0;
}

#dos{
	width: 100%;
	text-align: left;
	padding-top: 0;
	padding-right: 0;
}

#doit{
	display: flex;
	justify-content: center;
	background-image: url(../images/sicily.jpg);
	width: 100%;
	background-size: cover;
	float: left;
	height: 2em;
	background-repeat:no-repeat;
	color: white;
	font-size: 7em;
	padding-top: .1em;
	text-align: center;
}
/*#doit>a{
	border-style: solid;
	border-color: white;
	border-collapse:collapse; 
	margin-right:2.5em;
	margin-left:2.5em;
	margin-top: .3em;
	margin-bottom: .4em;
	text-align: center;
	text-decoration: none;
	color: white;
}*/
#mobilebanner{
	display: none;
}
/*a{
	color: white;
	background-color: #82c0c0;
	text-decoration: none;
	padding: 0;
	float: none;

}
a:hover{
	color: #82c0c0;
	background-color: white;
	text-decoration: none;
}
*/
}
