body, div, section, p, head{
	margin: 0;
	padding: 0;

}




#banner{
	padding: 3em;
	width: 100%;
}
body{
font-family: 'Noto Sans', sans-serif;
background-color: #82c0c0;
}
#info-bar{
	color: white;
	background-color: #82c0c0;
	text-align: center;
	padding: 1.8em;
	line-height: 1.6em;
	font-size: 1.3em;
}
#sites{
background-image: url(../images/palpatine.jpg);
background-repeat:no-repeat;
background-size:100%;
}
#costs{
background-image: url(../images/squad.jpg);
background-repeat:no-repeat;
background-size:100%;
}
#academics{
background-image:url(../images/terracina.jpg);
background-repeat:no-repeat;
background-size:100%;
}

#apply{
background-image: url(../images/walkway.jpg);
background-repeat:no-repeat;
background-size:100%;
}
p:hover {
	font-size: 110%;
	-webkit-transition: ease-in-out;
}
.o-bar{
	color: white;
	font-size: 4em;
	height: 2.8em;
}
#sites>p{
	float: right;
	padding-right: .2em;
	padding-top: 1em;
}
#academics>p{
	float: right;
	padding-right: .2em;
	padding-top: 1em;
}
#costs>p{
	float: left;
	padding-left: .2em;
	padding-top: 1em;
}
#apply>p{
	float: left;
	padding-left: .2em;
	padding-top: 1em;
}
#foot{
	background-color: #82c0c0;
	text-align: center;
	color: white;
	font-size: .8em;
	width: 100%;
	float:left;
	position: fixed;
	bottom: 0;
	z-index: 999999;
	height: 12em;
	padding: .6em;
}
.footer{	
	position: relative;
	margin: 0 auto;
	width: 100%
}
#uno{
	width: 50%;
	float: left;
	padding-top: 1em;
	padding-bottom: .7em;
	line-height: 1.2em;

}
#dos{
	width: 50%;
	float: left;
	padding-top: 1em;
	padding-bottom: .7em;
	line-height: 1.2em;
}
#container{
	margin-bottom: 10em;
}
#top-banner{
	background-color: white;
}


