body, div, section, p, head{
	margin: 0;
	padding: 0;

}
#banner{
	padding: 3em;
	width: 100%;
}
body{
font-family: 'Noto Sans', sans-serif;
background-color: #82c0c0;
}
#info-bar{
	color: white;
	background-color: #82c0c0;
	text-align: center;
	padding: 1.8em;
	line-height: 1.6em;
	font-size: 1.3em;
}
#info-bar2{
	display: none;
}
#apply{
background-image: url(../images/palpatine.jpg);
background-repeat:no-repeat;
background-size:100%;
}
#academics{
background-image:url(../images/squad.jpg);
background-repeat:no-repeat;
background-size:100%;
}
#sites{
background-image: url(../images/terracina.jpg);
background-repeat:no-repeat;
background-size:100%;
}
#costs{
background-image: url(../images/walkway.jpg);
background-repeat:no-repeat;
background-size:100%;
}
/*p:hover {
	font-size: 110%;
	-webkit-transition: ease-in-out;
}*/
.o-bar{
	color: white;
	font-size: 4em;
	height: 2.8em;
}
#apply>p{
	float: right;
	padding-right: .2em;
	padding-top: .8em;
}
#academics>p{
	float: left;
	padding-left: .2em;
	padding-top: .8em;
}
#sites>p{
	float: right;
	padding-right: .2em;
	padding-top: .8em;
}
#costs>p{
	float: left;
	padding-left: .2em;
	padding-top: .8em;
}
#foot{
	background-color: #3f3f3f;
	color: white;
	font-size: .8em;
	width: 100%;
	float:left;
	position: fixed;
	bottom: 0;
	z-index: 999999;
	height: 7em;
	padding: .6em;
}
.footer{	
	position: relative;
	margin: 0 auto;
	width: 100%;
}
#uno{
	width: 50%;
	float: left;
	padding-top: 1em;
	padding-bottom: .7em;
	line-height: 1.2em;
	text-align: left;

}
#dos{
	width: 50%;
	float: left;
	padding-top: 1em;
	padding-bottom: .7em;
	line-height: 1.2em;
	text-align: right;
}
#container{
	margin-bottom: 10em;
}
#top-banner{
	background-color: white;
}
#doit{
	display: none;
}


@media (min-width:750px){

body{
	background-color: #3f3f3f;
}

#carousel1 {
	display: none;

}
#info-bar{
	display: none;
}
#info-bar2{
	display: block;
	background-color: white;
	color:#82c0c0;
	float: left;
	text-align: center;
	font-size: 1.5em;
	padding-left: 6em;
	padding-right: 6em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.info-text2{
	text-align: center;
	margin-left: 5em;
	margin-right: 5em;
	font-size: 10em;
}
.o-bar{
	width: 25%;
	float: left;
	font-size: 3em;
	background-color: #82c0c0;
	height: 2em;
}
#sites{
	background-image: none;
	margin: auto;
	border-style: hidden;
	border-color: white;
	padding-top: 0;
	border-radius: .01em;
}
#apply{
	background-image: none;
	margin: auto;
	border-style: hidden;
	border-color: white;
	padding-top: 0;
	border-radius: .01em;

}
#academics{
	background-image: none;
	margin: auto;
	border-style: hidden;
	border-color: white;
	padding-top: 0;
	border-radius: .01em;

}
#costs{
	background-image: none;
	margin: auto;
	padding-right: none;
	border-style: hidden;
	border-color: white;
	padding-top: none;
	border-radius: .01em;

}
#sites>p{
	text-align: center;
	margin: auto;
	float: none;
	padding-top: .2em;
}
#apply>p{
	text-align: center;
	margin: auto;
	float: none;
	padding-top: 0.2em;
}
#academics>p{
	text-align: center;
	margin: auto;
	float: none;
	padding-top: 0.2em;
}
#costs>p{
	text-align: center;
	margin: auto;
	float: none;
	padding-top: 0.2em;
}
#container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 30em;
	background-color: #82c0c0;
}
#top-banner{
	background-color: none;
	background-image: url(../images/DSC_0282.jpg);
	margin: auto;
	width: 100%;
	background-repeat:no-repeat;
	background-size:100%;
	float: left;
}
#banner{
	width: 50%;
	background-color: none;
	padding-top: 25em;
	padding-bottom: 5em;
	float: left;
	margin-left: 15em;

}
p:hover{
	font-size: 100%;
}
#sites:hover{
	background-color: white;
	color: #82c0c0;
	border-style: solid;
}
#costs:hover{
	background-color: white;
	color: #82c0c0;
	border-style: solid;
}
#academics:hover{
	background-color: white;
	color: #82c0c0;
	border-style: solid;
}
#apply:hover{
	background-color: white;
	color: #82c0c0;
	border-style: solid;
}
#foot{
	background-color: #3f3f3f;
	color: white;
	font-size: 1em;
	width: 100%;
	float:left;
	position: relative;
	bottom:3em; 
	z-index: 5em;
	height: 5em;
	padding: .6em;
}
.footer{	
	position: relative;
	margin-top: 2em;
	width: 100%;
}
#doit{
	background-image: url(../images/sicily.jpg);
	width: 100%;
	background-size: 100%;
	float: left;
	height: 3em;
	background-repeat:no-repeat;
	color: white;
	font-size: 7em;
	padding-top: none;
	text-align: center;
}
#doit>p{
	border-style: solid;
	border-color: white;
	border-collapse:collapse; 
	margin-right:2.5em;
	margin-left:2.5em;
	margin-top: .4em;
	margin-bottom: 2.8em;
	text-align: center;
}
}
