body, p, div, section, p{
	padding: 0;
	margin: 0;
}

#banner{
	width: 100%;
}

.bar{
	height: 9em;
}

#academics{
	width: 100%;
	background-image: url(../images/group.jpg);
	background-position: top;
	background-repeat:no-repeat;
	background-size:100%;
	color: white;
	text-align: center;
	padding-top: 2em;

}

#info{
	text-align: center;
	padding: 1.5em;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}

#courses{
	width: 100%;
	background-image: url(../images/dock.jpg);
	background-position: top;
	background-repeat:no-repeat;
	background-size:100%;
	color: white;
}

#scholarships{
	width: 100%;
	background-image: url(../images/sicilia.jpg);
	background-position: top;
	background-repeat:no-repeat;
	background-size:100%;
	color: white;
}
p{
	text-decoration: none;
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	font-size: 1em;
}

#foot{
	background-color: #3f3f3f;
	color: white;
	font-size: .8em;
	width: 100%;
	float:left;
	height: 6em;
	padding: .6em;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
}
