#fountain {
	width: 100%;
}
#main{
	background-color: #82c0c0;
	color: white;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	width: 100%;
	font-size: 4em;
}
.others:hover{
	background-color: white;
	color: #d6aa7d;

}
div.others {
	width: 25%;
	float: left;
	height: 100%;
	display: inline-block;
	font-size: .7em;
	color: white;
	font-family: helvettica, sans-serif;
	font-weight: 100%;
	padding-top: .25em;

}


#more{
	display: none;
	height: 3em;
	width: 100%;
	text-align: center;
	background-color:#d6aa7d; 
	vertical-align: middle;
}
#banner {
	width: 100%;
}
<<<<<<< HEAD
#foot{
	background-color: #3f3f3f;
	color: white;
	font-size: 1.9em;
	width: 100%;
	float: left;
	height: 8em;
	padding: .6em;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	display: inline-block;
}
#info {
	padding: 2em;
	background-color: #82c0c0;
	text-align: center;
}
=======
>>>>>>> parent of 3c38ee5... Revert "more"
